hr {
  height: 5px;
  border: 0; /* kill the default border */
  background: #000; /* give the element something to “fill” */
  margin: 1rem 0;
}

img {
  border: 2px solid black;
  margin-bottom: 5px;
}
